# Python
__pycache__/
*.py[cod]
*.db
.env
venv/
.venv/
env/

# Node
node_modules/
dist/
frontend/dist/

# Logs
logs/
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# GitHub
.github/